a {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ccffff 0%, #ccccff 100%);
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
    color: #003300;
    font-weight: italic;
}
a:hover {
    opacity: 0.81;
    transform: scale(1.8);
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
li {
    width: 65%;
}
.container {
    width: 50%;
    background-image: linear-gradient(45deg, #003366 0%, #8c6b82 100%);
    margin: 0 auto;
    height: 100vh;
}